@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Montserrat&family=Roboto:wght@300;400&display=swap');


.logo .img-con{
height: 50px;
width: 60px;
}
.img-con img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.logo span{
    font-size: 13px;
    width: 50%;
}

.ff-Archivo{
font-family: 'Archivo', sans-serif;
line-height: 1;
}
.ff-Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.ff-Roboto{
    font-family: 'Roboto', sans-serif;
}
.primaryBg{
    background: rgb(212, 126, 255);
}
.HoverprimaryBg:hover{
    background: rgb(206, 107, 255);
    color: white;
}
.primaryClr{
    color: rgb(212, 126, 255);
}
.primaryBorder{
    border: 1.4px solid rgb(206, 107, 255);
}
.primaryBorderBottom{
    border-bottom: 1.4px solid rgb(206, 107, 255);
}

.card-body ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.card-body ul li{
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 2em;
}
.card-body ul li span{
 color: rgb(206, 107, 255);
 font-weight: bold;
 margin-left: .5em;
}
.card{
    background: #252525;
    color: white;
    overflow: hidden;
}
.card-header,
.modal-header{
    background: #282828;
}
td{
    color: #f5f5f5;
    background-color: rgb(218, 145, 255);
    font-family: 'Roboto', sans-serif;
}
.coni{
    overflow-x: scroll;
    overflow: hidden;
    min-width: 100%;
}
.table-responsive::-webkit-scrollbar{
    height: 5px;
    background-color: #000;
}
.table-responsive::-webkit-scrollbar-thumb{
    background-color: rgb(206, 107, 255);
    height: 5px;
}


@media (max-width:400px){
    .logo{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .logo span{
        font-size: 8px;
        text-align: center;
        width: 100%;
    }
    .btn{
        width: 70px;
    }
}
